html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #56524f;
    position: fixed;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-group label {
    font-weight: bold;
    color: #fff;
}

.form-box {
    width: 100%;
}

.btn-block {
    width: 100%;
}

.image-container h1 {
    font-size: 3rem;
    color: #333;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../socketImages/a_files/forgot_preview_rev_1.png');
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 2;
    padding: 54px;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 8px !important;
    max-width: 601px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 41px;
    color: #fff;
    font-size: 2.8rem;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: rgba(0, 123, 255, 0.8);
    border-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    margin-top: 10px;
    width: 100%;
}

.btn-primary:hover {
    background-color: rgba(0, 123, 255, 1);
}

.password-wrapper .input-group {
    position: relative;
}

.password-wrapper .input-group-addon {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    color: #fff;
    cursor: pointer;
}

.password-wrapper .input-group-addon .glyphicon {
    font-size: 14px;
}

.password-wrapper .form-control {
    border-right: none;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn-info .glyphicon {
    margin-right: 5px;
}