body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f8f9fa;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../socketImages/a_files/login9.avif');
    background-size: cover;
    background-position: center;
  
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}